<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <servlet>
        <servlet-name>demo1</servlet-name>
        <servlet-class>org.example.servlet.ServletDemo1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>default</servlet-name>
        <servlet-class>org.example.servlet.DefaultServletDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>configDemo</servlet-name>
        <servlet-class>org.example.servlet.ServletConfigDemo</servlet-class>
        <init-param>
            <param-name>name</param-name>
            <param-value>wang</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>123456</param-value>
        </init-param>
        <init-param>
            <param-name>charset</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>servletContext</servlet-name>
        <servlet-class>org.example.servlet.ServletContextDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cookieDemo</servlet-name>
        <servlet-class>org.example.cookie.CookieDemo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sessionDemo</servlet-name>
        <servlet-class>org.example.session.SessionDemo</servlet-class>
    </servlet>
    <!-- mapping -->
    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/servlet/demo1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>demo1</servlet-name>
        <url-pattern>/1.htm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>configDemo</servlet-name>
        <url-pattern>/configs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>servletContext</servlet-name>
        <url-pattern>/context</url-pattern>
    </servlet-mapping>

    <!-- 如果某个Servlet的映射路径仅仅为一个正斜杠（/），那么这个Servlet就成为当前Web应用程序的缺省Servlet。-->
    <servlet-mapping>
        <servlet-name>default</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>

    <!-- cookie demo -->
    <servlet-mapping>
        <servlet-name>cookieDemo</servlet-name>
        <url-pattern>/cookie</url-pattern>
    </servlet-mapping>
    <!-- session demo -->
    <servlet-mapping>
        <servlet-name>sessionDemo</servlet-name>
        <url-pattern>/session</url-pattern>
    </servlet-mapping>

    <!-- context 参数 -->
    <context-param>
        <param-name>name</param-name>
        <param-value>context-test</param-value>
    </context-param>
    <!-- 设置Session的有效时间:以分钟为单位-->
    <session-config>
        <session-timeout>15</session-timeout>
    </session-config>
</web-app>
